---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

#goop {
	background-color: #A3C266;
	height: 300px;

.wrapper {
    width: 100%;

}   

}
.site-title {
	position: absolute;
	bottom: 0;
	left: 5;
	font-size: 90px;
}

.post-list {
	width: 100%;
    float: left;
 //   border: 5px solid pink;
}

.page-heading {
    font-size: 50px;
}

.right-content {
	width:  30%;
	// border: 5px solid blue;
	height: 925px;
    display: inline-block;
    float: right;

    background-color: #BABA76;
   
}

.wrapper.bodywrapper {
    padding: 0px;
}
.post-div {
    width: 60%;
    display: inline-block;
   // border: 5px solid aqua;
    text-align: center;
}
 
.home {
    width: 1000px;
    margin-right: 0px;
    display: inline-block;
 //   border: 5px solid orange;
}
.page-head-div {
    width: 60%;
 //   border: 5px solid yellow;
    display: inline-block;
    text-align: center;
}


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
